*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
   width: 100%;
   height: 100vh;
}


header{
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;

}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
}

 header li{
    list-style-type: none;
    display: inline-block;
    margin:  0 20px;
}

header li a{
    font-weight: 600;
    color: rgb(139, 149, 158);
    text-decoration: none;

}

header li a:hover{
    color:rgb(25, 28, 31);
}

.left-side ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-side ul li:nth-child(2) a{
    color:rgb(25, 28, 31);
}

.right-side{
    display: flex;
    align-items:center ;
}

.right-side ul{
    align-self: center;
    justify-self: space-around;
}

.btn{
    padding:14px 19px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    float: right;
    margin: 0 10px;
}

#btn-first{
    color:rgb(25, 28, 31);
    background-color:rgb(139, 149, 158);
    margin-left: 30px;
}

#btn-second{
    background-color:rgb(25, 28, 31);
    color: white
 
}

.help-list{
    display: flex;
    flex-direction: column;
}

.dropdouwn-section{
    display: flex;
    justify-content: flex-end;

}

.dropdouwn-section ul{
    display: flex;
    flex-direction: column;
    background-color:white ;
    border-radius: 10px;
    box-shadow: 1px 0.5px #888888;
}

.dropdouwn-section ul li{
    margin-top: 10px;
    display: block;
}

.dropdouwn-section .help-list{
    position: absolute;
    right: 16%;
    top: 70%;
    display: none;
}


.dropdouwn-section .about-list{
    position: absolute;
    right: 22%;
    top: 70%;
    display: none;

 }


 .dropdouwn-section .plans-list{

    position: absolute;
    right: 32.5%;
    top: 70%;
    display: none;
}

.dropdouwn-section .features-list {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    position: absolute;
    right: 20%;
    top: 73%;
    visibility: hidden;

}



.dropdouwn-section .features-list ul li:first-child{
    color: rgb(206, 213, 219);
    font-weight: 600;
}